<form #f="ngForm" (ngSubmit)="onSearch(f.value)" style="width:500px;">


<table   style="width:120% ;  background-color:white !important ; color : black !important;">

  
<tr>
  <td>
  <label class="col-form-label" for="nom">Nom</label>
  </td>
<td style="height:100px">
  <input type="text" class="form-control" placeholder="Nom" id="nom" >
</td>
</tr>
<tr>
<td >
<label class="col-form-label" for="etage">Etage</label>
</td>
<td>
   <input type="text" class="form-control" placeholder="Etage" id="etage">
  </td>
</tr>



<tr>
<td style="height:100px" >
<label for="bloc">Bloc</label>
</td>
<td>
   <input type="text" class="form-control" id="bloc"  placeholder="Bloc">
  </td>
</tr>
<tr>
<td >
      <label for="capacite">Capacite</label>

</td>
    <td>    
      <input type="capacite" class="form-control" id="capacite" placeholder="Capacite" >
    </td>

</tr>
</table>
<br><br>
 <div class="col-md-6"></div>
 <div class="col-md-6">
<button mat-raised-button color="warn" >Editer</button>
<button  mat-raised-button routerLink="." (click)="dialogRef.close()" >Annuler</button >
 </div>