
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
   
}
button{
    background-color: red;
    opacity: 1;
}
div.centre {
    position:absolute;
    left: 50%;
    top: 90%;
    width: 100px;
    height: 500px;
    margin-left: -100px;
    margin-top: -100px;
    
}
body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    
}

.login-box{
    width: 50%;
     height: 60%;
    
     top: 20%;
     left: 30%;
     position : absolute;
     
    
 opacity: 0.5;

  
  margin: 0 auto;
  background: rgba(130,130,130,.3);
 
  border: 1px solid;
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
}
.avatar{
 width: 100px;
 height: 100px;
 border-radius: 1000%;
 position: absolute;  
 top:-50px;
 left: calc(50% - 52px)
}
.app-header{
    height: 80px;
	color: #fff;
    background-color:  #ff4d4d;
    text-align: center;
    padding: 1%;

}

.image{
     height:50em; background-size:cover; width:auto;
     background-image:url("/assets/images/salle.jpg");
     background-position:50% 50%;
}
    .form-control{

       opacity:1;
    }